	html,body {
		height: 100vh;
		overflow: hidden;
		padding:0;
		margin:0;
		border:0;		
	}
	body {
		display: grid;
		grid-template: "left right";
	}
	main {
		grid-area: left;
		padding: 1em;
	}
	.source {
		grid-area: right;
		display: block;
		font-family: monospace;
		white-space: pre;
		height: 100vh;
		overflow: auto;
		background-color: #0F0F0F;
		color: #FEFEFE;
	}
